In [1]:
prom_file_path = "models/prom_pure_label.parquet"
integrated_prom_file_path = 'prom_integrated.parquet'
timeblock_file_path ="time_block_info.parquet"

In [2]:
import pandas as pd
import numpy as np

In [3]:
prom_df = pd.read_parquet(integrated_prom_file_path)

In [4]:
time_df = pd.read_parquet(timeblock_file_path)

In [6]:
time_df

,node,block_id,start_time,end_time,start_row,end_row,block_duration_sec,block_duration
0,r11n15,0,2022-06-30 16:00:30,2022-07-07 11:32:00,1,19624,588690,163:31:30
1,r11n15,1,2022-07-07 11:36:00,2022-07-14 07:16:30,19625,39266,589230,163:40:30
2,r11n15,2,2022-07-14 09:17:00,2022-07-15 09:16:30,39267,42146,86370,23:59:30
3,r11n15,3,2022-07-15 11:17:00,2022-07-16 09:16:30,42147,44786,79170,21:59:30
4,r11n15,4,2022-07-16 11:17:00,2022-07-17 09:16:30,44787,47426,79170,21:59:30
...,...,...,...,...,...,...,...,...
14012,r27n23,41,2022-11-01 12:40:00,2022-11-09 17:17:00,348276,371870,707820,196:37:00
14013,r27n23,42,2022-11-09 18:17:30,2022-11-14 09:27:30,371871,385211,400200,111:10:00
14014,r27n23,43,2022-11-14 10:28:00,2022-11-14 10:46:30,385212,385249,1110,0:18:30
14015,r27n23,44,2022-11-14 11:47:00,2022-11-17 16:04:00,385250,394404,274620,76:17:00
14016,r27n23,45,2022-11-17 16:12:00,2022-11-21 11:49:30,394405,405400,329850,91:37:30

In [7]:
sorted_df = time_df.sort_values(by='block_duration_sec', ascending=False)

In [8]:
sorted_df.head(1)

,node,block_id,start_time,end_time,start_row,end_row,block_duration_sec,block_duration
697,r27n19,20,2022-08-02 00:00:30,2022-08-17 14:12:00,88291,133194,1347090,374:11:30

In [9]:
selected_rows = prom_df.iloc[88290:133194+1]

In [4]:
selected_data = prom_df[(prom_df['node'] == 'r11n14') & 
                        (prom_df['timestamp'] >= '2022-10-04 19:20:30') & 
                        (prom_df['timestamp'] <= '2022-10-17 16:23:00')]

In [8]:
selected_data.sort_values(by='timestamp')

,timestamp,node,node_load15,node_load5,node_load1,node_memory_Active_bytes,node_filesystem_device_error-sum,node_netstat_Icmp_InErrors,node_netstat_Tcp_InErrs,node_netstat_Udp_InErrors,nvidia_gpu_power_usage_milliwatts-max,nvidia_gpu_temperature_celsius-max,isAnomaly,__index_level_0__,jobID,finishTasks,jobCount
47751100,2022-10-04 19:20:30,r11n14,5.58,5.18,5.01,4.944750e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,19091465,[2098473.0],1.0,1
26881854,2022-10-04 19:21:00,r11n14,5.56,5.16,5.00,4.971590e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,19091466,[2098473.0],1.0,1
33144740,2022-10-04 19:21:30,r11n14,5.54,5.14,5.00,4.975860e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,19091467,[2098473.0],1.0,1
50882973,2022-10-04 19:22:00,r11n14,5.52,5.13,5.00,4.964090e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,19091468,[2098473.0],1.0,1
60275141,2022-10-04 19:22:30,r11n14,5.51,5.11,5.00,4.967980e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,19091469,[2098473.0],1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53086855,2022-10-17 14:20:30,r11n14,0.16,0.00,0.00,1.344520e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725910,[2186630.0],0.0,1
14479848,2022-10-17 14:21:00,r11n14,0.16,0.00,0.00,1.344520e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725911,[2186630.0],0.0,1
72915345,2022-10-17 14:22:00,r11n14,0.16,0.00,0.00,1.344520e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725913,[2186630.0],0.0,1
5088928,2022-10-17 14:22:30,r11n14,0.16,0.00,0.00,1.344520e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725914,[2186630.0],0.0,1
53086864,2022-10-17 14:23:00,r11n14,0.16,0.00,0.00,1.344520e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725915,[2186630.0],0.0,1

In [5]:
selected_data

,timestamp,node,node_load15,node_load5,node_load1,node_memory_Active_bytes,node_filesystem_device_error-sum,node_netstat_Icmp_InErrors,node_netstat_Tcp_InErrs,node_netstat_Udp_InErrors,nvidia_gpu_power_usage_milliwatts-max,nvidia_gpu_temperature_celsius-max,isAnomaly,__index_level_0__,jobID,finishTasks,jobCount
797760,2022-10-04 22:17:30,r11n14,9.60,14.71,16.38,1.832780e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18844179,[2104116.0],1.0,1
797785,2022-10-04 22:22:00,r11n14,11.22,15.51,16.02,1.848150e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18844188,[2104116.0],1.0,1
798643,2022-10-05 00:34:00,r11n14,2.73,1.04,1.02,2.471710e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18947237,[],NaN,0
799382,2022-10-05 02:36:00,r11n14,0.00,0.03,0.00,1.533120e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,19015431,[],NaN,0
799524,2022-10-05 02:59:30,r11n14,0.00,0.00,0.00,1.533060e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,19015478,[],NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83351884,2022-10-17 10:05:30,r11n14,5.50,0.68,0.01,1.275440e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18749692,[2182901.0],0.0,1
83352557,2022-10-17 11:51:00,r11n14,1.80,1.65,2.12,3.642280e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,18749903,[2185384.0],0.0,1
83352919,2022-10-17 12:46:30,r11n14,1.28,1.24,1.35,4.455840e+10,0.0,77.0,0.0,0.0,0.0,0.0,0,18750014,[],NaN,0
83353050,2022-10-17 13:05:30,r11n14,0.85,0.56,0.82,1.355670e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18750052,[2186503.0],1.0,1
83353484,2022-10-17 14:16:00,r11n14,0.19,0.00,0.00,1.344560e+09,0.0,77.0,0.0,0.0,0.0,0.0,0,18725901,[2186630.0],0.0,1

In [13]:
selected_data.to_parquet('r11n14_tb.parquet')

In [ ]:

selected_data = selected_data.drop('__index_level_0__', axis=1)

In [9]:
selected_data.to_parquet('r11n14_tb_integrated.parquet')

In [16]:
selected_data1 = prom_df[(prom_df['node'] == 'r11n5')]

In [17]:
selected_data1.to_parquet('r11n5.parquet')

In [15]:
most_common_value = prom_df['node'].value_counts().idxmax()

print("数量最多的值:", most_common_value)

数量最多的值: r11n5