In [2]:
node_load15 = "./encryptedParq/pqEncrypted/node_load15"
node_load1 = "./encryptedParq/pqEncrypted/node_load1"
node_load5 = "./encryptedParq/pqEncrypted/node_load5"
memory = "./encryptedParq/pqEncrypted/node_memory_Active"
gpu_temp = "./encryptedParq/pqNvidiaEncrypted/nvidia_gpu_temperature_celsius"
gpu_temp = "./encryptedParq/pqNvidiaEncrypted/nvidia_gpu_power_usage_milliwatts"

In [18]:
import pandas as pd

node_load15_df = pd.read_parquet("./encryptedParq/pqEncrypted/node_load15", engine='pyarrow')
node_load1_df = pd.read_parquet("./encryptedParq/pqEncrypted/node_load1", engine='pyarrow')
node_load5_df = pd.read_parquet("./encryptedParq/pqEncrypted/node_load5", engine='pyarrow')
memory_df = pd.read_parquet("./encryptedParq/pqEncrypted/node_memory_Active", engine='pyarrow')
gpu_temp_df = pd.read_parquet("./encryptedParq/pqNvidiaEncrypted/nvidia_gpu_temperature_celsius", engine='pyarrow')
gpu_power_df = pd.read_parquet("./encryptedParq/pqNvidiaEncrypted/nvidia_gpu_power_usage_milliwatts", engine='pyarrow')

print(node_load15_df.head())

            r1899n7  r1899n1899  r1899n1898  r1899n1897  r1899n1896  \
time
1577833200     3.40       16.02       16.03       15.71       16.00
1577833215     3.40       16.01       16.03       15.72       16.00
1577833230     3.32       16.01       16.02       15.72       16.02
1577833245     3.32       16.01       16.02       15.73       16.02
1577833260     3.28       16.01       16.02       15.73       16.02

            r1899n1903  r1899n1902  r1899n1901  r1899n1900  r1899n1891  ...  \
time                                                                    ...
1577833200        3.56       16.01       15.69        3.90        2.26  ...
1577833215        3.56       16.01       15.70        3.90        2.31  ...
1577833230        3.47       16.01       15.70        4.01        2.31  ...
1577833245        3.47       16.01       15.71        4.01        2.30  ...
1577833260        3.39       16.01       15.71        3.91        2.30  ...

            r1389n7  r1389n4  r1389n5  r1389n2  r1389n3  r1379n7  r1379n4  \
time
1577833200     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0
1577833215     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0
1577833230     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0
1577833245     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0
1577833260     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0     -1.0

            r1379n5  r1379n2  r1379n3
time
1577833200     -1.0     -1.0     -1.0
1577833215     -1.0     -1.0     -1.0
1577833230     -1.0     -1.0     -1.0
1577833245     -1.0     -1.0     -1.0
1577833260     -1.0     -1.0     -1.0

[5 rows x 341 columns]

In [21]:
gpu_power_df = gpu_power_df.sort_values(by='time')

gpu_power_df

,r1128n1128,r1128n1133,r1123n7,r1123n4,r1123n5,r1123n2,r1123n3,r1122n7,r1122n4,r1122n5,...,r1389n7,r1389n4,r1389n5,r1389n2,r1389n3,r1379n7,r1379n4,r1379n5,r1379n2,r1379n3
time,,,,,,,,,,,,,,,,,,,,,
1577833200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833245,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833260,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585864725,0,0,0,39126043983216794,0,25770459159,30118329321455737,68962460234088694,0,19703707937210473,...,2814792718483478,5911060411121682,4222171896676375,107374837772,47246147599,4785091784736784,0,0,0,0
1585864740,0,0,0,51792237544931521,0,25770393623,30118329321455737,68962460234088694,0,31526043511947403,...,2814792718483478,5911056116154386,4222176191578135,107374837772,47246147599,4785091784736784,0,0,0,0
1585864755,0,0,0,51792237544931521,0,25770393623,78251173120049431,78532721111531789,0,31526043511947403,...,2814792718417942,5911056116154386,4222176191578135,107374837772,47246147599,4785091784736784,0,0,0,0
1585864770,0,0,0,80221467892711654,0,25770393622,78251173120049431,78532721111531789,0,5911081885761559,...,2814792718417942,5911047526219792,4503651168354327,107374837772,47246147599,4785091784802320,0,0,0,0
1585864785,0,0,0,80221467892711654,0,25770393622,55732646698942682,33777658646888734,0,5911081885761559,...,2533317741707286,5911047526219792,4503651168354327,107374837772,47246147599,4785091784802320,0,0,0,0

In [22]:
gpu_temp_df = gpu_temp_df.sort_values(by='time')

gpu_temp_df

,r1128n1128,r1128n1133,r1123n7,r1123n4,r1123n5,r1123n2,r1123n3,r1122n7,r1122n4,r1122n5,...,r1389n7,r1389n4,r1389n5,r1389n2,r1389n3,r1379n7,r1379n4,r1379n5,r1379n2,r1379n3
time,,,,,,,,,,,,,,,,,,,,,
1577833200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833245,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1577833260,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585864725,0,0,0,21110992625926230,0,137440985121,19140620543328334,21955413261156438,0,13792501495496758,...,9570295239147553,13511009338458161,9288828852437025,141736083487,141736149025,8725857423982622,0,0,0,0
1585864740,0,0,0,21110988330827861,0,137440985121,19140620543328334,21955413261156438,0,14355455743950903,...,9570295239147553,12666571523227694,9570303829147681,146031050783,141736149025,8725857423982622,0,0,0,0
1585864755,0,0,0,21110988330827861,0,137440985121,19703579086815312,22236896827801687,0,14355455743950903,...,9570295239147553,12666571523227694,9570303829147681,146031050783,141736149025,8725857423982622,0,0,0,0
1585864770,0,0,0,21392467602636886,0,137440985121,19703579086815312,22236896827801687,0,13229538656976947,...,9570295239147553,12103612979740716,9570303829147681,141736083487,141736149025,8725857423982622,0,0,0,0
1585864785,0,0,0,21392467602636886,0,137440985121,19985058358558801,21110984036057175,0,13229538656976947,...,9570295239147553,12103612979740716,9570303829147681,141736083487,141736149025,8725857423982622,0,0,0,0

In [3]:
def reshape_df(df, metric_name):
    df = df.stack().reset_index()
    df.columns = ['time', 'node', metric_name]
    return df

In [4]:
node_load15_df = reshape_df(node_load15_df, 'load15')
node_load1_df = reshape_df(node_load1_df, 'load1')
node_load5_df = reshape_df(node_load5_df, 'load5')
memory_df = reshape_df(memory_df, 'memory_active')
gpu_temp_df = reshape_df(gpu_temp_df, 'gpu_temp')
gpu_power_df = reshape_df(gpu_power_df, 'gpu_power')

In [11]:
node_load1_df

                 time        node  load1
0          1577833200     r1899n7   3.44
1          1577833200  r1899n1899  16.00
2          1577833200  r1899n1898  16.00
3          1577833200  r1899n1897  15.82
4          1577833200  r1899n1896  16.00
...               ...         ...    ...
178738555  1585864785     r1379n7   0.00
178738556  1585864785     r1379n4   0.00
178738557  1585864785     r1379n5   0.00
178738558  1585864785     r1379n2   0.00
178738559  1585864785     r1379n3  36.00

[178738560 rows x 3 columns]

In [12]:
import pandas as pd

def reshape_df(df, metric_name):
    df = df.stack().reset_index()
    df.columns = ['time', 'node', metric_name]
    return df

node_load15_df = pd.read_parquet(node_load15, engine='pyarrow')
node_load1_df = pd.read_parquet(node_load1, engine='pyarrow')
node_load5_df = pd.read_parquet(node_load5, engine='pyarrow')
memory_df = pd.read_parquet(memory, engine='pyarrow')
gpu_temp_df = pd.read_parquet(gpu_temp, engine='pyarrow')
gpu_power_df = pd.read_parquet("./encryptedParq/pqNvidiaEncrypted/nvidia_gpu_power_usage_milliwatts", engine='pyarrow')

node_load15_df = reshape_df(node_load15_df, 'load15')
node_load1_df = reshape_df(node_load1_df, 'load1')
node_load5_df = reshape_df(node_load5_df, 'load5')
memory_df = reshape_df(memory_df, 'memory_active')
gpu_temp_df = reshape_df(gpu_temp_df, 'gpu_temp')
gpu_power_df = reshape_df(gpu_power_df, 'gpu_power')

merged_df = node_load15_df

for df in [node_load1_df, node_load5_df, memory_df, gpu_temp_df, gpu_power_df]:
    if df is gpu_temp_df or df is gpu_power_df:
        merged_df = merged_df.merge(df, on=['time', 'node'], how='outer').fillna(0)
    else:
        merged_df = merged_df.merge(df, on=['time', 'node'], how='outer').dropna()

print(merged_df.head())

         time        node  load15  load1  load5  memory_active  gpu_temp  \
0  1577833200     r1899n7    3.40   3.44   3.99   1.140718e+10       0.0
1  1577833200  r1899n1899   16.02  16.00  16.02   1.199103e+10       0.0
2  1577833200  r1899n1898   16.03  16.00  16.03   5.203026e+08       0.0
3  1577833200  r1899n1897   15.71  15.82  15.71   1.412456e+09       0.0
4  1577833200  r1899n1896   16.00  16.00  16.02   1.235644e+09       0.0

   gpu_power
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

In [13]:
mapping_df = pd.read_csv('decreptedNode.csv', header=None, names=['encrypted', 'decrypted'])
mapping_dict = dict(zip(mapping_df['encrypted'], mapping_df['decrypted']))

merged_df['node'] = merged_df['node'].map(mapping_dict)

print(merged_df.head())

         time    node  load15  load1  load5  memory_active  gpu_temp  \
0  1577833200   r10n1    3.40   3.44   3.99   1.140718e+10       0.0
1  1577833200  r10n10   16.02  16.00  16.02   1.199103e+10       0.0
2  1577833200  r10n11   16.03  16.00  16.03   5.203026e+08       0.0
3  1577833200  r10n12   15.71  15.82  15.71   1.412456e+09       0.0
4  1577833200  r10n13   16.00  16.00  16.02   1.235644e+09       0.0

   gpu_power
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

In [14]:
column_mapping = {
    'time': 'timestamp',
    'node': 'node',
    'load15': 'node_load15',
    'load1': 'node_load1',
    'load5': 'node_load5',
    'memory_active': 'node_memory_Active_bytes',
    'gpu_temp': 'nvidia_gpu_temperature_celsius-max',
    'gpu_power': 'nvidia_gpu_power_usage_milliwatts-max'
}

merged_df = merged_df.rename(columns=column_mapping)

In [15]:
merged_df

,timestamp,node,node_load15,node_load1,node_load5,node_memory_Active_bytes,nvidia_gpu_temperature_celsius-max,nvidia_gpu_power_usage_milliwatts-max
0,1577833200,r10n1,3.40,3.44,3.99,1.140718e+10,0.000000e+00,0.000000e+00
1,1577833200,r10n10,16.02,16.00,16.02,1.199103e+10,0.000000e+00,0.000000e+00
2,1577833200,r10n11,16.03,16.00,16.03,5.203026e+08,0.000000e+00,0.000000e+00
3,1577833200,r10n12,15.71,15.82,15.71,1.412456e+09,0.000000e+00,0.000000e+00
4,1577833200,r10n13,16.00,16.00,16.02,1.235644e+09,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...
180563995,1585864785,r38n5,0.00,0.00,0.00,6.927606e+08,4.785092e+15,4.785092e+15
180563996,1585864785,r38n4,0.00,0.00,0.00,1.153950e+09,0.000000e+00,0.000000e+00
180563997,1585864785,r38n3,0.00,0.00,0.00,1.090191e+09,0.000000e+00,0.000000e+00
180563998,1585864785,r38n2,0.00,0.00,0.00,1.091772e+09,0.000000e+00,0.000000e+00
180563999,1585864785,r38n1,35.25,36.00,36.00,1.375511e+09,0.000000e+00,0.000000e+00